<section class="overflow-hidden bg-light">
  <div class="relative max-w-screen-xl px-4 pt-20 mx-auto sm:px-6 lg:px-8 lg:py-20">
    <div class="relative lg:flex lg:items-center">
      <div class="{{if eq .position `right`}}order-last{{end}} hidden lg:block lg:flex-shrink-0">
        <img class="w-64 h-64 rounded-full xl:h-80 xl:w-80" src="{{.user.image}}" alt="Testimonial Of {{.user.name}}">
      </div>
      <div class="relative lg:ml-10">
        <svg class="absolute top-0 left-0 text-gray-200 transform -translate-x-8 -translate-y-24 opacity-50 h-36 w-36" stroke="currentColor" fill="none" viewBox="0 0 144 144">
          <path stroke-width="2" d="M41.485 15C17.753 31.753 1 59.208 1 89.455c0 24.664 14.891 39.09 32.109 39.09 16.287 0 28.386-13.03 28.386-28.387 0-15.356-10.703-26.524-24.663-26.524-2.792 0-6.515.465-7.446.93 2.327-15.821 17.218-34.435 32.11-43.742L41.485 15zm80.04 0c-23.268 16.753-40.02 44.208-40.02 74.455 0 24.664 14.891 39.09 32.109 39.09 15.822 0 28.386-13.03 28.386-28.387 0-15.356-11.168-26.524-25.129-26.524-2.792 0-6.049.465-6.98.93 2.327-15.821 16.753-34.435 31.644-43.742L121.525 15z" />
        </svg>
        <blockquote class="relative">
          <div class="text-xl font-normal leading-9 text-gray-900 lg:text-2xl lg:font-medium">
            <p>
                {{- .testimonial -}}
            </p>
          </div>
          {{with .user}}
          <footer class="mt-8">
            <div class="flex">
              <div class="flex-shrink-0 lg:hidden">
                <img class="rounded-full w-44 h-44 lg:w-52 lg:h-52" src="{{.image}}" alt="Testimonial Of {{.name}}">
              </div>
              <div class="ml-4 mt-14 lg:mt-0 lg:ml-0">
                <div class="text-base font-medium leading-6 text-default">{{- .name -}}</div>
                <div class="text-base font-medium leading-6 text-brand">{{- .company -}}</div>
              </div>
            </div>
          </footer>
          {{end}}
        </blockquote>
      </div>
    </div>
  </div>
</section>
