<nav class="shadow {{ with $.Site.Params.navbar.color -}}bg-{{.}}{{with $.Site.Params.navbar.shade}}-{{.}}{{end}}{{end -}}">
  <div class="px-2 mx-auto max-w-7xl sm:px-4 lg:px-8">
    <div class="flex justify-between h-16">
      <div class="flex px-2 lg:px-0">
        {{/* <!-- Logo --> */}}
        <div class="flex items-center flex-shrink-0">
          {{ with $.Site.Params.logo}}<img class="block mr-0 {{if eq $.Site.Params.brand.enable true}}md:-mr-1{{end}} h-{{.height}} w-auto" src="{{.image}}" alt="{{$.Site.Params.brand.name}}">{{end -}}
          {{if $.Site.Params.brand.enable}}
          {{- if or (eq $.Site.Params.brand.font "aguafina") (eq $.Site.Params.brand.font "qwigley") }}
          <h1 class="-mb-9 z-10 hidden md:block max-h-48 w-auto font-light text-6xl relative mr-5 md:mr-10
          {{with $.Site.Params.brand.font}}font-{{.}}{{end}}
          {{ with $.Site.Params.brand.color -}}text-{{.}}{{with $.Site.Params.tag.shade}}-{{.}}{{end}}{{end -}}
          ">
          {{else if or (eq $.Site.Params.brand.font "sans") (eq $.Site.Params.brand.font "steel")}}
          <h1 class="max-h-48 w-auto font-extrabold text-3xl relative mr-5 md:mr-10 uppercase
          {{with $.Site.Params.brand.font}}font-{{.}}{{end}}
          {{ with $.Site.Params.brand.color -}}text-{{.}}{{with $.Site.Params.tag.shade}}-{{.}}{{end}}{{end -}}
          ">
          {{- end -}}
              {{- $.Site.Params.brand.name -}}
              {{ if eq $.Site.Params.brand.font "aguafina"}}
              <span class="font-hairline leading-10 absolute top-0 left-full ml-2 text-2xl mx-2 -mt-3
              font-{{ $.Site.Params.tag.font}}
              {{ with $.Site.Params.tag.color -}}text-{{.}}{{with $.Site.Params.tag.shade}}-{{.}}{{end}}{{end -}}
              ">{{$.Site.Params.tag.name}}</span>
              {{ else if eq $.Site.Params.brand.font "qwigley"}}
              <span class="
              font-{{ $.Site.Params.tag.font}} font-hairline leading-10 absolute top-0 left-full -mr-10 mt-2 text-base">{{$.Site.Params.tag.name}}</span>
              {{else if eq $.Site.Params.brand.font "sans"}}
              <span class="font-hairline text-2xl
              font-{{ $.Site.Params.tag.font}}
              {{ with $.Site.Params.tag.color -}}text-{{.}}{{with $.Site.Params.tag.shade}}-{{.}}{{end}}{{end -}}
              ">{{$.Site.Params.tag.name}}</span>
              {{else}}
              <span class="font-hairline uppercase
              font-{{ $.Site.Params.tag.font}}
              {{ with $.Site.Params.tag.color -}}text-{{.}}{{with $.Site.Params.tag.shade}}-{{.}}{{end}}{{end -}}
               ">{{$.Site.Params.tag.name}}</span>
              {{- end -}}
          </h1>
          {{end}}
        </div>
        {{/* <!-- Navigation Menu --> */ -}}
        <div class="hidden lg:ml-6 lg:flex">
          {{ range .Site.Menus.main -}}
          {{- $url := .URL | relLangURL -}}
          {{- with .Page -}} {{- $url = .RelPermalink -}}
          {{- end -}}
          <a href="{{.URL}}" class="ml-8 inline-flex items-center px-1 pt-1 text-sm font-medium leading-5  focus:outline-none transition duration-150 ease-in-out
          {{- if $.IsMenuCurrent `main` . | or ($.HasMenuCurrent `main` .) | or (eq $.RelPermalink $url) }}
          border-b-4
          text-navbar-active
          border-brand
          hover:text-navbar-hover
          hover:border-tag
          {{else}}
          border-b-4
          text-navbar-inactive
          border-transparent
          hover:text-navbar-hover
          hover:border-navbar-border
          {{ end -}}
          ">
            {{- .Pre | safeHTML }} {{ .Name }} {{ .Post | safeHTML -}}
          </a>
          {{- end -}}
        </div>
      </div>
      {{/* <!-- Search Query Input --> */ -}}
      {{ if $.Page.Params.showsearch -}}
      <div class="flex-1 flex items-center justify-center px-2 {{if $.Site.Params.brand.enable}}lg:ml-6{{end}} lg:justify-end">
        <div class="w-full max-w-lg lg:max-w-xs">
          <div class="relative">
            <div class="absolute inset-y-0 left-0 flex items-center pl-3 pointer-events-none">
              <svg class="w-5 h-5 text-primary" fill="currentColor" viewBox="0 0 20 20">
                <path fill-rule="evenodd" d="M8 4a4 4 0 100 8 4 4 0 000-8zM2 8a6 6 0 1110.89 3.476l4.817 4.817a1 1 0 01-1.414 1.414l-4.816-4.816A6 6 0 012 8z" clip-rule="evenodd" />
              </svg>
            </div>
            <input x-model="searchQuery" x-on:input.debounce.750ms="executeSearch()" id="search" class="block w-full py-2 pl-10 pr-3 leading-5 transition duration-150 ease-in-out border rounded-md border-neutral placeholder-neutral focus:outline-none focus:placeholder-primary focus:border-primary focus:shadow-outline-primary text-primary sm:text-sm" placeholder="Search" type="search">
        </div>
        </div>
      </div>
      {{- end -}}
        {{/* <!-- Shopping Cart Menu --> */}}
      {{ if $.Page.Params.showcart }}
      {{ with .Site.Data.cart }}
      <button x-cloak @click="cartOpen = !cartOpen" x-show="!cartOpen" class="{{ if eq $.Page.Params.showsearch false -}}flex-1{{end}} flex items-center justify-end text-sm border-transparent focus:outline-none transition duration-150 ease-in-out" id="cart-menu" aria-label="Cart menu" aria-haspopup="true">
      <div slot="icon" class="relative">
          <div
            x-text="cart.length"
            class="absolute top-0 right-0 px-1 -mt-1 -mr-2 text-xs font-bold rounded-full bg-cart-bubble text-cart-count">
          </div>
          <svg
            class="inline-block w-8 h-8 stroke-current text-cart"
            viewBox="0 0 24 24"
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
          >
            <circle cx="8" cy="21" r="2"></circle>
            <circle cx="20" cy="21" r="2"></circle>
            <path
              d="M5.67 6H23l-1.68 8.39a2 2 0 0 1-2 1.61H8.75a2 2 0 0 1-2-1.74L5.23 2.74A2 2 0 0 0 3.25 1H1">
            </path>
            </svg>
        </div>
        </button>
        {{- end -}}
        {{- end -}}
      {{/* <!-- List of Mobile Menus --> */}}
      <div class="flex items-center lg:hidden">
        {{/* <!-- Menu For Toggling NavBar --> */ -}}
        <button @click="menu=!menu" class="inline-flex items-center justify-center p-2 ml-2 transition duration-150 ease-in-out rounded-md text-neutral focus:outline-none" aria-label="Main menu" aria-haspopup="true">
          <svg :class="{'hidden': menu, 'block': !menu}" class="block w-6 h-6 text-tag" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16" />
          </svg>
          <svg :class="{'block': menu, 'hidden': !menu}" class="hidden w-10 h-10 text-close" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12" />
          </svg>
        </button>
      </div>
    </div>
  </div>
  {{/* <!-- Mobile Dropdown --> */ -}}
  <div class="hidden lg:hidden"
    x-show="menu"
    x-transition:enter="transition ease-out duration-150"
    x-transition:enter-start="opacity-0 transform scale-95"
    x-transition:enter-end="opacity-100 transform scale-100"
    x-transition:leave="transition ease-in duration-100"
    x-transition:leave-start="opacity-100 transform scale-100"
    x-transition:leave-end="opacity-0 transform scale-95"
    @click.away="menu = false"
    :class="{'hidden': !menu, 'block': menu}"
    >
    <div class="pt-2 pb-3">
      {{- range .Site.Menus.main -}}
      {{- $url := .URL | relLangURL -}}
      {{- with .Page -}}
      {{- $url = .RelPermalink -}}
      {{- end -}}
      <a
        href="{{.URL}}"
        class="mt-1 block pl-3 pr-4 py-2 text-sm font-medium leading-5  focus:outline-none  transition duration-150 ease-in-out
        {{- if $.IsMenuCurrent `main` . | or ($.HasMenuCurrent `main` .) | or (eq $.RelPermalink $url) }}
        border-l-4
        text-navbar-active
        border-brand
        hover:text-navbar-hover
        hover:border-tag
        {{else}}
        border-l-4
        text-navbar-inactive
        border-transparent
        hover:text-navbar-hover
        hover:border-tag
        {{- end }}">
      {{- .Pre | safeHTML }} {{ .Name }} {{ .Post | safeHTML }}
      </a>
      {{ end -}}
    </div>
  </div>
  {{/* <!-- Search Results --> */}}
  {{- if $.Page.Params.showsearch -}}
  <div class="hidden border-b-4 border-dotted bg-light border-primary"
    @click.away="searchQuery = ''; searchResults = [];"
    x-show="searchResults.length >0"
    x-transition:enter="transition ease-out duration-150"
    x-transition:enter-start="opacity-0 transform scale-95"
    x-transition:enter-end="opacity-100 transform scale-100"
    x-transition:leave="transition ease-in duration-100"
    x-transition:leave-start="opacity-100 transform scale-100"
    x-transition:leave-end="opacity-0 transform scale-95"
    :class="{'hidden': searchResults.length < 1, 'block': searchResults.length >0}"
    >
    <template x-for="item in searchResults" :key="item">
        <div  class="relative flex items-center px-0 mx-auto max-w-7xl md:px-10">
        <a :href="item.permalink" class="z-10 flex w-full p-1 space-x-2 transition duration-150 ease-in-out rounded-lg sm:p-1 md:p-3 hover:bg-gray-100 md:space-x-8">
        <div class="flex-shrink-0 hidden sm:block">
            <img x-show="item.image" class="object-cover w-32 h-20 rounded-md" :src="item.image"/>
            <div x-show="!item.image" class="box-border w-32 h-20 p-2 -mx-2 bg-gray-200 border-2 border-gray-400">
            <div class="w-full h-full bg-gray-400"></div>
            </div>
        </div>
        <div class="flex-1 min-w-0 space-y-1">
        <h4 class="text-xl font-semibold leading-6 text-left truncate text-primary" x-text="item.title">
        </h4>
        <p class="text-sm font-medium text-left text-gray-700 break-all" x-text="item.description">
        </p>
        <p class="text-sm font-normal text-left text-gray-500 break-all" x-text="item.summary.substr(0,200)">
        </p>
        </div>
        </a>
       </div>
    </template>
    </div>
    {{- end}}
</nav>
